@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;300;400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap");
::root{
  --font-color1 : #ffff;
  --font-color2: #ffff;
  --font-color3: #0000;

  --font-family1: "Martian Mono", monospace;
  --font-family2: "Bacasime Antique", serif;
  --font-family3: "Playfair Display", serif;

  --font-title: 2em;
  --font-main: 140px;
  --font-footer: 32px;
  
  --font-weight-900: 900;
  --font-weight-700: 700;
  --font-weight-600: 600;
  --font-weight-500: 500;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}
::selection {
  background-color: #1c6e36;
  color: #85ec52;
}

::-webkit-scrollbar {
  width: 1em;
}
::-webkit-scrollbar-track{
  background: #FFFFFF;
  border-radius: 100vw;
  margin-block: .5em;
  margin-inline: 1em;
}
::-webkit-scrollbar-thumb{
  border-radius: 100vw;
  border: .25em solid  #FFFFFF;
  background: #23074d;
}
::-webkit-scrollbar-thumb:hover{
  background: hsl(120 100% 10% / 1);
}

body {
  width: 100%;
  height: 600vh;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  /* background: rgb(13,0,26);
  background: radial-gradient(circle, rgba(13,0,26,1) 18%, rgba(89,1,67,1) 93%); */
  color: #fff;
}

/* @keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */
.nav-wrapper {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
}
.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 1.25rem auto 0;
  position: relative;
  z-index: 1000;
}
.scroll {
  background: hsla(45, 17%, 95%, 0.8);
  backdrop-filter: blur(20px) saturate(1.7);
  -webkit-backdrop-filter: blur(20px) saturate(1.7);
}

.nav_list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: calc(1.25rem) - 10px;
  border-radius: 50px;
  transition: all 0.6s linear;
}
ul,
li {
  list-style: none;
  padding: 0.5rem;
}
.headernav {
  margin-right: 5px;
  padding: 6px 20px;
  cursor: pointer;
}
.nav-item {
  margin: auto 3px;
}
.nav-item>a{
  text-decoration: none;
  margin: 30px;
  color: #fff;
  font-size: 18px;
  font-family:  "Martian Mono", monospace
}
.nav-item.active {
  opacity: 1;
  transition: all 0.2s ease;
  background: hsl(0, 0%, 100%, 0.5);
  padding-right: calc(1.25rem) - 5px;
  border-radius: 1.5rem;
}
/* Main section start here */
.main-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 150px;
}

.main-inner-wrapper {
  /* width: 90%; */
  height: auto;
  display: block;
  text-align: center;
  margin-bottom: 50px;
}

.introComponent {
  position: "relative";
}

.context-left {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.smallText {
  color: var(--font-color1);
  font-size: 23px;
  text-align: center;
  /* font-family: "Playfair Display", serif; */
  font-weight: 100;
}

.headingInfo {
  color: var(--font-color1);
  position: relative;
  font-size: 114px;
  font-weight: 900;
  font-family: "Playfair Display", serif;
  margin-bottom: 30px;
}

.headingInfo .title {
  text-align: center;
  display: block;
  position: relative;
  z-index: 10;
}

.starIcon1 {
  position: absolute;
  width: auto;
  z-index: 3;
  left: 0%;
  top: 0%;
}

.starIcon2 {
  position: absolute;
  z-index: 3;
  width: auto;
  right: 0;
  bottom: 0;
}

.starIcon1 > img {
  image-rendering: crisp-edges;
  animation: rotate-center 7s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite
    reverse;
}

.starIcon2 > img {
  image-rendering: crisp-edges;
  animation: rotate-center 6s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite
    reverse;
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Main section end here */

/* skills section */

.main-inner-wrapper2 {
  max-width: 1200px;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.main-inner-wrapper2 > p {
  font-size: 2em;
  font-weight: 600;
  font-family: "Martian Mono", monospace;
}

.flexcontainer {
  position: relative;
  padding: 2.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 50vh;
  border-radius: 1rem;
  background: 0 0;
  margin-top: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0-2px 6px 0 inset;
}

.SkIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  flex: 1;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0-2px 6px 0 inset;
  border-radius: 10px;
  cursor: url(https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png)
      39 39,
    auto;
}

.SkIcon > img {
  padding: 1rem;
  width: 100%;
}

/* projects section */

.main-inner-wrapper3 {
  margin-top: 2rem;
  width: 1200px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
  margin-bottom: 260px;
  text-align: center;
  padding: 10px;
}
.textProject{
  font-size: 2em;
  font-weight: 600;
  font-family: "Martian Mono", monospace;
}

.projectDiv {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.cards{
  width: 600px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  margin: 1.5rem;
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  /* border-radius: .7rem; */
  font-family: "Martian Mono", monospace;
}

.holder {
  width: 30vw;
  margin-bottom: 30px;
  margin-top: 30px;
  height: auto;
  border-radius: 10px;
  cursor: url(https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png)
      39 39,
    auto;
}

.holder img {
  width: 100%;
  height: 100%;
}

.holder img:hover {
  transform: scale(1.2);
  transition: 500ms ease-in-out;
}
/* Project section end here */

/* About Section start here */

.aboutSection{
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.aboutSection>p{
  font-family: "Martian Mono", monospace;
  font-size: 2em;
  font-weight: 600;
}

.para{
  width: 600px;
  padding: 1rem;
  margin-top: 1.5rem;
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: .7rem;
}

.para>p{
  font-size: 1.3rem;
}

/* About Section ends here */

/* contact  */
.divide{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form-container {
  margin-top: 2rem;
  width: 600px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: .7rem;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #ece5e5;
  font-weight: 600;
  font-size: 1em;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #f1ecf1;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #f1ecf1;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 100%;
  /* background: #313131; */
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  background-color: #fff;
  border-color: #fff;
}


/* contact  */

/* footer start here */
.hrBar {
  width: 60%;
  color: #ffff;
}

.main-inner-wrapper4 {
  width: 70%;
  height: 20vh;
  margin-top: 20px;
  padding: 10px;
}

.footerDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.footerDiv h1 {
  font-size: 32px;
  font-weight: bold;
  color: #ffff;
}

.box2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box2 h4 {
  font-size: medium;
  color: #fff;
}

.iconRow {
  display: flex;
  margin: 20px;
  align-items: center;
  justify-content: space-evenly;
}

.Socioicon:hover {
  color: #ffff;
  cursor: pointer;
}

.iconRow a {
  text-decoration: none;
  color: #fff;
}

.iframeDiv {
  height: 90vh;
}
