@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;300;400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  /* font-family: "IBM Plex Serif", serif; */
  scroll-behavior: smooth;
}
::selection {
  background-color: #1c6e36;
  color: #85ec52;
}

body {
  width: 100%;
  height: 250vh;
  background: linear-gradient(
    31deg,
    #a72dcd,
    #f537ea,
    #868ea5,
    #b39a48,
    #f72aca,
    #1e0922
  );
  background-size: 360% 360%;
  animation: gradient-animation 54s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.nav-wrapper {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
}
.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  margin: 1.25rem auto 0;
  position: relative;
  z-index: 1000;
}
.scroll {
  background: hsla(45, 17%, 95%, 0.8);
  backdrop-filter: blur(20px) saturate(1.7);
  -webkit-backdrop-filter: blur(20px) saturate(1.7);
}

.nav_list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: calc(1.25rem) - 10px;
  border-radius: 50px;
  transition: all 0.6s linear;
}
ul,
li {
  list-style: none;
  padding: 0.5rem;
}
.headernav {
  margin-right: 5px;
  padding: 6px 20px;
  cursor: pointer;
}
.nav-item {
  margin: auto 3px;
}
.nav-item>a{
  text-decoration: none;
  margin: 30px;
  color: #393646;
  font-size: 18px;
  font-family: "Martian Mono", monospace;
}
.nav-item.active {
  opacity: 1;
  transition: all 0.2s ease-in-out;
  background: hsl(0, 0%, 100%, 0.5);
  padding-right: calc(1.25rem) - 5px;
  border-radius: 1.5rem;
}
/* Main section start here */
.main-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 150px;
  /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
}

.main-inner-wrapper {
  width: 90%;
  height: auto;
  display: block;
  text-align: center;
  margin-bottom: 50px;
}

.introComponent {
  margin-bottom: 50px;
  position: "relative";
}

.context-left {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
}
.smallText {
  color: #393646;
  font-size: 21px;
  text-align: center;
  font-family: "Bacasime Antique", serif;
}


.headingInfo {
  color: #393646;
  position: relative;
  font-size: 114px;
  font-weight: 900;
  font-family: "Playfair Display", serif;
  margin-bottom: 30px;
}

.headingInfo .title {
  text-align: center;
  display: block;
  position: relative;
  z-index: 10;
}

.starIcon1 {
  position: absolute;
  width: auto;
  z-index: 3;
  left: 0%;
  top: 0%;
}

.starIcon2 {
  position: absolute;
  z-index: 3;
  width: auto;
  right: 0;
  bottom: 0;
}

.starIcon1 > img {
  image-rendering: crisp-edges;
  animation: rotate-center 6s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite
    reverse;
}

.starIcon2 > img {
  image-rendering: crisp-edges;
  animation: rotate-center 6s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite
    reverse;
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Main section end here */

/* skills section */

.main-inner-wrapper2 {
  max-width: 1200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.main-inner-wrapper2 > p {
  font-size: 2em;
  font-weight: 600;
  font-family: "Martian Mono", monospace;
}

.flexcontainer {
  position: relative;
  padding: 2.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 50vh;
  border-radius: 1rem;
  background: 0 0;
  margin-top: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0-2px 6px 0 inset;
}

.SkIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  /* width: 100px; */
  flex: 1;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0-2px 6px 0 inset;
  border-radius: 10px;
  cursor: pointer;
}

.SkIcon > img {
  padding: 1rem;
  width: 100%;
}

/* projects section */

.main-inner-wrapper3 {
  margin-top: 2rem;
  width: 1200px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
  margin-bottom: 260px;
  text-align: center;
  padding: 10px;
}
.textProject{
  font-size: 2em;
  font-weight: 600;
  font-family: "Martian Mono", monospace;
}

.projectDiv {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
.cards{
  width: 500px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: .7rem;
  font-family: "Martian Mono", monospace;
}

.holder {
  width: 30vw;
  margin-bottom: 30px;
  margin-top: 30px;
  height: auto;
  border-radius: 10px;
  cursor: url(https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png)
      39 39,
    auto;
}

.holder img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

.holder img:hover {
  /* box-shadow: 0px 0px 20px 0px rgb(15, 15, 13); */
  transform: scale(1.05);
  transition: 500ms ease-in-out;
}
/* Project section end here */

/* About Section start here */










/* About Section ends here */



/* footer start here */
.hrBar {
  width: 60%;
  color: #4a4848;
}
.main-inner-wrapper4 {
  width: 70%;
  height: 20vh;
  margin-top: 20px;
  padding: 10px;
}
.footerDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
.footerDiv h1 {
  font-size: 32px;
  font-weight: bold;
}
.box2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box2 h4 {
  font-size: medium;
  color: gray;
}
.iconRow {
  display: flex;
  margin: 20px;
  align-items: center;
  justify-content: space-evenly;
}
.Socioicon:hover {
  color: #4a4848;
  cursor: pointer;
}
.iconRow a {
  text-decoration: none;
  color: #000;
}
.iframeDiv {
  height: 90vh;
}
