@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;300;400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-family: "IBM Plex Serif", serif;
}
::selection{
  background-color: #1c6e36;
  color: #85ec52;
}

body{
  width: 100%;
  height: 200vh; 
  background: linear-gradient(127deg,#85ec52,#1c6e36,#2a4a30,#fbdad7,#04161b);
  background-size: 300% 300%;
  animation: gradient-animation 90s ease infinite;
}

@keyframes body {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.nav-wrapper {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
}
.inner{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  margin: 1.25rem auto 0;
  position: relative;
  z-index: 1000;
}
.scroll{
  background: hsla(45, 17%, 95%, .8);
  backdrop-filter: blur(20px) saturate(1.7);
  -webkit-backdrop-filter: blur(20px) saturate(1.7);
}

.nav_list{
    display:flex;
    justify-content: center;
    margin: 0;
    padding: calc(1.25rem) - 10px;
    border-radius: 50px;
    transition: all .2s linear;
}
ul,li{
  list-style: none;
  /* padding: 0.1rem; */

}
.nav_list a {
  text-decoration: none;
}
.headernav {
  margin-right: 5px;
  padding: 6px 20px;
  color: hsla(172, 95%, 18%, 1);
  font-size: 18.447px;
  font-family: 'Martian Mono', monospace;
  cursor: pointer;
}
.nav-item{
  margin: auto 3px;
}
.nav-item.active {
   opacity: 1;
   transition: all .2s ease-in-out;
   background: hsl(0, 0%, 100%,0.5);
   padding-right: calc(1.25rem) - 5px;
   border-radius: 1.5rem;
}
/* Main section start here */
.main-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 150px;
  /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
}

.main-inner-wrapper {
  width: 90%;
  display: block;
  margin-bottom: 50px;
}

.introComponent {
  margin-bottom: 50px;
  position: "relative";
}
/* Wave background csss */
.custom-shape-divider-bottom-1686061293 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1686061293 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 135px;
}

.custom-shape-divider-bottom-1686061293 .shape-fill {
  fill: #ffffff;
}
/* Wave background csss */

.row {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 180px;
  z-index: -500;
  justify-content: center;
}

.context-left {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  padding: 5px;
}
.context-right {
  position: relative;
  flex: 1;
  max-width: 460px;
  height: 500px;
}

@media (max-width: 425px) {
  .context-left {
    flex: 100%;
    max-width: 200px;
  }
  .context-left .headingInfo .name {
    font-size: 70px;
  }
  .context-right {
    flex: 100%;
    max-width: 200px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 800px) {
  .context-left {
    flex: 100%;
    max-width: 600px;
    margin-bottom: 10rem;
  }
  .context-left .headingInfo .name {
    font-size: 90px;
  }
  .context-right {
    flex: 100%;
    max-width: 600px;
  }
  .projectDiv {
    flex: 100%;
    max-width: 500px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .projectDiv .holder {
    width: 400px;
  }
}
@media (max-width: 900px) {
  .context-left {
    flex: 100%;
    max-width: 580px;
    margin-bottom: 10rem;
  }
  .context-left .headingInfo .name {
    font-size: 110px;
  }
  .context-right {
    flex: 100%;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
  }
  .projectDiv {
    flex: 100%;
    max-width: 500px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .projectDiv .holder {
    width: 400px;
  }
}

.headingInfo {
  color: #000;
  position: relative;
  font-size: 114px;
  font-family: 'Playfair Display', serif;
  margin-bottom: 30px;
}
.headingInfo .title{
  text-align: center;
  display: block;
  position: relative;
  z-index: 10;
}

.starIcon1{
  position: absolute;
  width: auto;
  left: -5%;
  top: -10%;
}
.starIcon2{
  position: absolute;
  width: auto;
  right: 5%;
  bottom: 0;
}

.starIcon1>img{
  animation:rotate-center 6s cubic-bezier(.55,.085,.68,.53) infinite reverse
}
.starIcon2>img{
  animation:rotate-center 6s cubic-bezier(.55,.085,.68,.53) infinite reverse
}
@keyframes rotate-center{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}

.headingInfo button {
  font-size: 16px;
  padding: 10px;
  margin-top: 10px;
  margin-right: 20px;
}
.context-right img {
  animation: float 5s ease-in-out infinite;
  border-radius: 25% 25% 25% 25% / 25% 25% 25% 25%;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* Main section end here */
/* skills section */
.main-inner-wrapper2 {
  width: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  padding: 10px;
}
.main-inner-wrapper2 h1 {
  font-size: 2em;
  font-weight: bold;
  text-align: left;
  margin-bottom: 50px;
}
.videoContainer {
  width: 58%;
}
.videoContainer img {
  cursor: url(https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png)
      39 39,
    auto;
  width: 100%;
}

/* projects section */

.main-inner-wrapper3 {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  /* padding: 10px; */
}

.main-inner-wrapper3 h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 40px;
}
.projectDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.holder {
  width: 30vw;
  margin-bottom: 30px;
  margin-top: 30px;
  height: auto;
  border: 1px solid rgb(156, 153, 153);
  border-radius: 10px;
  cursor: url(https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png)
      39 39,
    auto;
  /* overflow: hidden; */
}

.holder img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}
.holder img:hover {
  box-shadow: 0px 0px 20px 0px rgb(15, 15, 13);
  transform: scale(1.1);
  transition: 500ms ease-in-out;
}
/* footer start here */
.hrBar {
  width: 60%;
  color: #4a4848;
}
.main-inner-wrapper4 {
  width: 70%;
  height: 20vh;
  margin-top: 20px;
  padding: 10px;
}
.footerDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
.footerDiv h1 {
  font-size: 32px;
  font-weight: bold;
}
.box2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box2 h4 {
  font-size: medium;
  color: gray;
}
.iconRow {
  display: flex;
  margin: 20px;
  align-items: center;
  justify-content: space-evenly;
}
.Socioicon:hover {
  color: #4a4848;
  cursor: pointer;
}
.iconRow a {
  text-decoration: none;
  color: #000;
}
.iframeDiv {
  height: 90vh;
}
