@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Italiana&family=Marcellus&family=Mulish:wght@200;300;400;500;600;700;800;900;1000&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  --font-family-italiana: "Italiana", serif;
  --font-family-marcellus: "Marcellus", serif;
  --font-family-mulish: "Mulish", sans-serif;
  --font-family-work-sans: "Work Sans", sans-serif;
  --font-family-Annie: "Annie Use Your Telescope", cursive;;
  --bg-white: #e5dddf;
  --black: #191825;
  --blue: #865dff;
  --purple1: #e384ff;
  --purple2: #ffa3fd;
}



html,body,#root,.app {
  width: 100%;
  height: 100%;
  font-family: var(--font-family-work-sans);
  scroll-behavior: smooth;
  margin-bottom: 80px;
  /* background: var(--bg-white); */
}
a{
  text-decoration: none;
  color: inherit;
}

.heroImage{
  background: url('./Assets/stacked-peaks-haikei2.png');
  background-repeat: no-repeat;
}

.imagebg{
  background: url('./Assets/space.jpg');
  object-fit: cover;
}
.glass{
  background: rgba(0,0,0,0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0,0,0,0.25);
}
@keyframes float {
  0% {
    transform: translate3d(0, 0px, 0);
  }
  50% {
    transform: translate3d(0, 30px, 0);
  }
  100% {
    transform: translate3d(0, 0px, 0);
  }
}

.slideAnimation:hover {
  animation: float 5s ease-in-out infinite;
  cursor: pointer;
}

.iframeDiv{
  height: 90vh;
}